@model List<GetQuoteDto>
@{
    int counter = 1;   
}
<a class="m-3 btn btn-primary" href="/quote/create" role="button">New Quote</a>
<hr class="hr hr-blurry" />
<h1 class="text-center">The list of quotes</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Quote Text</th>
        <th scope="col">CategoryId</th>
        <th scope="col">FileName</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var quote in Model)
    {
        <tr>
            <th scope="row">@quote.Id</th>
            <td>@quote.Author</td>
            <td>@quote.QuoteText</td>
            <td>@quote.CategoryId</td>
            <td><img style="border:1px solid;
                            border-radius:50%;
                            width:50px;
                            height:50px;" src="~/images/@quote.FileName" alt="no image"></td>
            <td><a href="/quote/Update/@quote.Id">Edit</a></td>
        </tr>
        @(counter++);
    }
  
    </tbody>
</table>